body {
    background-image: url(https://www.hulu.com/static/hitch/s3/2020-06/Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg?t.h4WwAhD1rrl9t1M_SYrNCgeYS_ON48);
    background-position: right top;
    background-size: 1575px;
    margin: 0;
}

/* "MASTHEAD" */
.masthead {
    text-align: center;
    font-family: 'Graphik', Helvetica, Helvetica, sans-serif;
    margin-top: 140px;
}

.loginButton {
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 3;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 23px 0 17px;
    margin: 4px 0px;
    border: none;
    display: block;
    background-color: transparent;
}

.masthead h1{
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.masthead h2{
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 12px;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.masthead h3{
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 21px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.freeTrial {
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    color: #040505;
    background: #fff;
    height: 46px;
    min-width: 136px;
    padding: 20px 32px 20px 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 14px;
    letter-spacing: 1px;
}

.freeTrial:hover {
    opacity: 0.8;
}

.legal{
    font-size: 10px;
    color: #fff;
    opacity: 0.6;
    letter-spacing: .3px;
    font-weight: normal;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 57.5px;
}

/* MIDDLE RIBBON */
.ribbon {
    display: flex;
    padding: 34px 40px;
    z-index: 2;
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    font-family: 'Graphik', Helvetica, Helvetica, sans-serif
}

.ribbon img {
    vertical-align: middle;
    margin-top: 26px;
}

.ribbon h1 {
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.ribbon h2 {
    font-size: 24px;
    font-weight: lighter;
    line-height: 24px;
    color: #fff;
}

.ribbon a:link, .ribbon 

.ribbonInfo {
    margin-left: auto;
    margin-right: auto;
}

.moreDetails {
    color: white;
    font-size: small;
    opacity: .8;
}

.bundleButtonContainer{
    color: white;
    position: relative;
    margin-left: auto;
    margin-top: 46px;
    text-align: center;
    min-width: 169px;
}

.bundleButton {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 22px 32px;
    margin-bottom: 10px;
    cursor: pointer;
}

.termsApply {
    color: white;
    font-size: small;
    opacity: .8;
    line-height: 400%;

}

/* LOWER LIBRARY PORTION*/
.scrollDown {
    padding-top: 20px;
    z-index: 1;
    background-color: black;
    font-family: 'Graphik', Helvetica, Helvetica, sans-serif;
    text-align: center;
    padding: 50px 20px;
}

.scrollDownContainer{
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.scrollDown h1 {
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 25px;
    margin-bottom: -25px;
}

.scrollDown h2 {
    color: #fff;
    font-size: 48px;
    line-height: 53px;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
}

.scrollDown h3 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    margin-bottom: 16px;
    max-width: 675px;
}

.library {
    display: grid;
    column-gap: 20 px;
    row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    max-width: 765px;
}

.library h1 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: .5;
    color: #fff;
}

.library h2 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: .5;
    font-weight: bold;
    color: #fff;
}

.tvShows {
    height: 555.61px;
    width: 363px;
    position: relative;
    text-align: left;
    background-size: contain;
    z-index: 3;
    cursor: pointer;
}

.tvShowsText {
    position: absolute;
    top: 10px;
    left: 18px;
    z-index: 3;
}

.tvShows img {
    opacity: .7;
}

.movies {
    height: 555.61px;
    width: 363px;
    position: relative;
    text-align: left;
    background-size: contain;
    z-index: 1;
    cursor: pointer;
}

.moviesText {
    position: absolute;
    top: 8px;
    left: 18px;
    z-index: 3;
}

.movies img {
    opacity: .7;
}

.originals {
    height: 555.61px;
    width: 363px;
    position: relative;
    text-align: left;
    background-size: contain;
    z-index: 1;
    cursor: pointer;
}

.originalsText {
    position: absolute;
    top: 8px;
    left: 18px;
    z-index: 3;
}

.originals img {
    opacity: .7;
}

.premiums {
    height: 555.61px;
    width: 363px;
    position: relative;
    text-align: left;
    background-size: contain;
    z-index: 1;
    cursor: pointer;
}

.premiumsText {
    position: absolute;
    top: 8px;
    left: 18px;
    z-index: 3;
}

.premiums img {
    opacity: .7;
}